<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" >
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header ><i class="fa-solid fa-truck"></i>ETransport</ion-list-header>
          <br>
          <ion-menu-toggle  auto-hide="false">
            <ion-item routerDirection="root" routerLink="/profile" lines="none" detail="false" routerLinkActive="selected">
              <ion-avatar slot="start">
                <img [src]="'https:/avatars.dicebear.com/api/initials/'+user.name+'.svg'" />
              </ion-avatar>
              <ion-label>{{ user.name }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle  auto-hide="false" *ngIf="user.role_id === 2">
            <ion-item routerDirection="root" routerLink="/service" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" icon="car-outline"></ion-icon>
              <ion-label>Service</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle  auto-hide="false">
            <ion-item routerDirection="root" routerLink="/conversations" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon name="chatbubbles-outline" slot="start"></ion-icon>
              <ion-label>Messages</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle  auto-hide="false">
            <ion-item routerDirection="root" routerLink="/notifications" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" name="notifications-outline"></ion-icon>
              <ion-label>Notifications</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle  auto-hide="false" *ngIf="user.role_id === 3">
            <ion-item routerDirection="root" routerLink="/listings" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" icon="list-outline"></ion-icon>
              <ion-label>D2D Listings</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle  auto-hide="false" *ngIf="user.role_id === 3">
            <ion-item routerDirection="root" routerLink="/customer-bookings" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" icon="book-outline"></ion-icon>
              <ion-label>My Bookings</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle  auto-hide="false" *ngIf="user.role_id === 2">
            <ion-item routerDirection="root" routerLink="/service-bookings" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" icon="book-outline"></ion-icon>
              <ion-label>Service Bookings</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle  auto-hide="false" >
            <ion-item routerDirection="root" routerLink="/announcements" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" icon="megaphone-outline"></ion-icon>
              <ion-label>Announcements</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-menu-toggle  auto-hide="false">
          <ion-item lines="none" detail="false" (click)="logout()" button>
            <ion-icon slot="start" icon="log-out-outline" ></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
