<ion-header color="light">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="background">
  <ion-card>
    <ion-card-header color="primary">
      <ion-card-title>Add Service</ion-card-title>
      <ion-card-subtitle mode="md">Add a service that you use for Door to Door transport.</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Driver Name <ion-note color="danger">*</ion-note></ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Service Name  <ion-note color="danger">*</ion-note></ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">License Number  <ion-note color="danger">*</ion-note></ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Plate Number  <ion-note color="danger">*</ion-note></ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Vehicle Model  <ion-note color="danger">*</ion-note></ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Capacity  <ion-note color="danger">*</ion-note></ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Mode of Payment  <ion-note color="danger">*</ion-note></ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-button (click)="samplenav()">
        <ion-icon slot="start" name="add"></ion-icon>
        Save
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
