<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Services</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header class="ion-no-border">
  <ion-card>
      <ion-item details="false" lines="none">
        <ion-label>Filter Services</ion-label>
        <ion-select  interface="popover" [(ngModel)]="serviceFilter">
          <ion-select-option value="all">All</ion-select-option>
          <ion-select-option value="open">Open</ion-select-option>
          <ion-select-option value="close">Close</ion-select-option>
        </ion-select>
      </ion-item>
  </ion-card>
</ion-header>

<ion-header class="ion-no-border" mode="md">
  <ion-toolbar>
    <ion-title color="primary"><h5><i class="fa-solid fa-van-shuttle"></i> {{ serviceFilter | titlecase }} Services</h5></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="fetchServices()">
        <ion-icon slot="icon-only" name="refresh-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="background">
  <ion-progress-bar *ngIf="progress_bar.loading" type="indeterminate" color="primary"></ion-progress-bar>
  <div class="">
    <ng-container *ngFor="let service of serviceService.services">
      <ion-card  *ngIf="serviceFilter == 'all' || serviceFilter == service.service_status" id="service_{{ service.service_id }}">      
        <ion-card-content>
          <ion-grid class="ion-no-padding ">
            <ion-row color="primary">
              <ion-col class="ion-no-padding">
                <ion-text color="primary">
                  <h4>{{ service.service_name }}</h4>
                </ion-text>
              </ion-col>
              <ion-col size="auto" class="ion-align-self-end" class="ion-no-padding">
                <ion-button id="click-trigger-{{ service.service_id }}" shape="round" color="medium" fill="clear" size="small">
                  <ion-icon slot="icon-only"  name="ellipsis-horizontal-sharp"></ion-icon>
                </ion-button>
                <ion-popover trigger="click-trigger-{{  service.service_id}}" triggerAction="click" size="auto"  show-backdrop="false" dismissOnSelect="true">
                  <ng-template>
                  <ion-content class="ion-no-padding" class="popover-options">
                      <ion-button expand="full" color="dark" fill="clear" routerLink="/services/edit/{{ service.service_id }}" >
                        Edit
                      </ion-button>
                      <ion-button expand="full" color="danger" fill="clear" (click)="deleteService(service.service_id)">
                        Delete
                      </ion-button>
                    </ion-content>
                  </ng-template>
                </ion-popover>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6" ><ion-text color="dark">Driver :</ion-text>  {{ service.driver }}</ion-col>
              <ion-col size="6" class="ion-padding-start"><ion-text color="dark">LN# :</ion-text> {{ service.license_number }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6" ><ion-text color="dark">Model :</ion-text> {{ service.vehicle_model }}</ion-col>
              <ion-col size="6" class="ion-padding-start"><ion-text color="dark">PN# :</ion-text> {{ service.plate_number }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6"><ion-text color="dark">Payments :</ion-text> <span *ngFor="let p of service.mode_of_payment">{{ p }}</span></ion-col>
              <ion-col size="6" class="ion-padding-start"><ion-text color="dark">Fare :</ion-text> {{ service.fare | currency : 'PHP' }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6"><ion-text color="dark">Load Type :</ion-text> <span >{{ service.load_type == 'both' ? 'Passenger & Luggage' : (service.load_type | titlecase) }}</span></ion-col>
              <ion-col size="6" class="ion-padding-start"><ion-text color="dark">Capacity :</ion-text> {{ service.capacity }}</ion-col>
            </ion-row>
            <ion-row >
              <ion-col >
                <ion-item class="ion-no-padding" lines="none">
                  <ion-label>{{ service.service_status | titlecase }}</ion-label>
                  <ion-toggle (ionChange)="setStatus(service.service_id, (service.service_status == 'open' ? 'close' : 'open'))" slot="start" color="success" checked="{{ service.service_status == 'open' ? true : false }}"></ion-toggle>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button [routerLink]="['/services/add']" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
