<ion-header color="light">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="background">
  <ion-card>
    <ion-card-header color="primary">
      <ion-card-title>Edit Service</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Driver Name <ion-note color="danger">*</ion-note></ion-label>
        <ion-input type="text" [(ngModel)]="edit_service_form.driver"></ion-input>
      </ion-item>
      <ion-note *ngIf="edit_service_form_err.driver" color="danger">{{ edit_service_form_err.driver }}</ion-note>

      <ion-item>
        <ion-label position="floating">Service Name  <ion-note color="danger">*</ion-note></ion-label>
        <ion-input type="text" [(ngModel)]="edit_service_form.service_name"></ion-input>
      </ion-item>
      <ion-note *ngIf="edit_service_form_err.service_name" color="danger">{{ edit_service_form_err.service_name }}</ion-note>

      <ion-item>
        <ion-label position="floating">License Number  <ion-note color="danger">*</ion-note></ion-label>
        <ion-input type="text" [(ngModel)]="edit_service_form.license_number"></ion-input>
      </ion-item>
      <ion-note *ngIf="edit_service_form_err.license_number" color="danger">{{ edit_service_form_err.license_number }}</ion-note>

      <ion-item>
        <ion-label position="floating">Plate Number  <ion-note color="danger">*</ion-note></ion-label>
        <ion-input type="text" [(ngModel)]="edit_service_form.plate_number"></ion-input>
      </ion-item>
      <ion-note *ngIf="edit_service_form_err.plate_number" color="danger">{{ edit_service_form_err.plate_number }}</ion-note>

      <ion-item>
        <ion-label position="floating">Vehicle Model  <ion-note color="danger">*</ion-note></ion-label>
        <ion-input type="text" [(ngModel)]="edit_service_form.vehicle_model"></ion-input>
      </ion-item>
      <ion-note *ngIf="edit_service_form_err.vehicle_model" color="danger">{{ edit_service_form_err.vehicle_model }}</ion-note>

      <ion-item>
        <ion-label position="floating">Capacity of No. of Seats <ion-note color="danger">*</ion-note></ion-label>
        <ion-input type="text" [(ngModel)]="edit_service_form.capacity"></ion-input>
      </ion-item>
      <ion-note *ngIf="edit_service_form_err.capacity" color="danger">{{ edit_service_form_err.capacity }}</ion-note>

      <ion-item>
        <ion-label position="floating">Fare  <ion-note color="danger">*</ion-note></ion-label>
        <ion-input type="number" [(ngModel)]="edit_service_form.fare"></ion-input>
      </ion-item>
      <ion-note *ngIf="edit_service_form_err.fare" color="danger">{{ edit_service_form_err.fare }}</ion-note>

      <ion-item>
        <ion-label position="floating">Load Type <ion-note color="danger">*</ion-note></ion-label>
        <ion-select [(ngModel)]="edit_service_form.load_type">
          <ion-select-option value="passenger">Passenger</ion-select-option>
          <ion-select-option value="luggage">Luggage</ion-select-option>
          <ion-select-option value="both">Both</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-note *ngIf="edit_service_form_err.load_type" color="danger">{{ edit_service_form_err.load_type }}</ion-note>

      <ion-item>
        <ion-label position="floating">Mode of Payment  <ion-note color="danger">*</ion-note></ion-label>
        <ion-select  multiple="true" [(ngModel)]="edit_service_form.mode_of_payment">
          <ion-select-option value="Cash">Cash</ion-select-option>
          <ion-select-option value="GCash">GCash</ion-select-option>
          <ion-select-option value="Paymaya">Paymaya</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-note *ngIf="edit_service_form_err.mode_of_payment" color="danger">{{ edit_service_form_err.mode_of_payment }}</ion-note>

      <div>
        <ion-button (click)="edit_service_form.submit()">
          <ion-icon name="save-sharp" slot="start"></ion-icon>
          Save
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
