<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header color="primary">
      <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
      <ion-card-title>Awesome Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Choose Service Type</ion-label>
        <ion-select >
          <ion-select-option value="peperoni">Peperoni</ion-select-option>
          <ion-select-option value="hawaii">Hawaii</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
