<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-card-header color="primary">
      <ion-card-title>Book a Service</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="card mt-2">
        <div class="card-body">
          <h2 class="text-dark fw-bold">{{ serviceService.to_book.service_name }}</h2>
          <h2 class="text-primary fw-bold">{{ serviceService.to_book.fare | currency:'Php' }}</h2>
          <p *ngIf="serviceService.to_book.marinduque_departure_datetime">
            <span class="text-dark">Marinduque Departure Datetime:</span>
            <br> {{ serviceService.to_book.marinduque_departure_datetime | date:'medium' }}
          </p>
          <p *ngIf="serviceService.to_book.manila_departure_datetime">
            <span class="text-dark">Manila Departure Datetime:</span>
            <br> {{ serviceService.to_book.manila_departure_datetime | date:'medium' }}
          </p>
        </div>
      </div>

      <ion-item>
        <ion-label position="floating">Choose Service Type</ion-label>
        <ion-select [(ngModel)]="book_service_form.service_type">
          <ion-select-option *ngIf="serviceService.to_book.service_type != 'luggage' " value="passenger">Passenger</ion-select-option>
          <ion-select-option *ngIf="serviceService.to_book.service_type != 'passenger'" value="luggage">Luggage</ion-select-option>
          <ion-select-option *ngIf="serviceService.to_book.service_type == 'both'" value="both">Both</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-note color="danger" *ngIf="book_service_form.errors.service_type">{{ book_service_form.errors.service_type }}</ion-note>

      <ion-item>
        <ion-label position="floating">Choose Route</ion-label>
        <ion-select [interfaceOptions]="routeInterfaceOptions" [(ngModel)]="book_service_form.route" interface="action-sheet">
          <ion-select-option *ngIf="serviceService.to_book.marinduque_departure_datetime" value="Marinduque to Manila" >
            Marinduque to Manila - Departs on {{ serviceService.to_book.marinduque_departure_datetime | date:'mediumDate' }} {{ serviceService.to_book.marinduque_departure_datetime | date:'shortTime' }}
          </ion-select-option>
          <ion-select-option *ngIf="serviceService.to_book.manila_departure_datetime" value="Manila to Marinduque">
            Manila to Marinduque - Departs on {{ serviceService.to_book.manila_departure_datetime | date:'mediumDate' }} {{ serviceService.to_book.manila_departure_datetime | date:'shortTime' }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-note color="danger" *ngIf="book_service_form.errors.service_type">{{ book_service_form.errors.service_type }}</ion-note>

      <ion-item *ngIf="book_service_form.service_type != 'luggage'">
        <ion-label position="floating">How many passenger reservation?</ion-label>
        <ion-input type="number" [(ngModel)]="book_service_form.passenger_count"></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="book_service_form.errors.passenger_count">{{ book_service_form.errors.passenger_count }}</ion-note>

      <ion-item >
        <ion-label position="stacked">Pick-up Time</ion-label>
        <ion-input type="time" [(ngModel)]="book_service_form.pickup_time"></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="book_service_form.errors.pickup_datetime">{{ book_service_form.errors.pickup_datetime }}</ion-note>

      <ion-item >
        <ion-label position="floating">Pick-up Location</ion-label>
        <ion-input type="text" [(ngModel)]="book_service_form.pickup_location"></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="book_service_form.errors.pickup_location">{{ book_service_form.errors.pickup_location }}</ion-note>

      <ion-item >
        <ion-label position="floating">Drop-off Location</ion-label>
        <ion-input type="text" [(ngModel)]="book_service_form.dropoff_location"></ion-input>
      </ion-item> 
      <ion-note color="danger" *ngIf="book_service_form.errors.dropoff_location">{{ book_service_form.errors.dropoff_location }}</ion-note>

      <ion-button >
        Book Now
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
