<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title mode="ios">{{ serviceService.to_book.service_name }}</ion-card-title>
      <h1 class="text-light fw-bold my-0">{{ serviceService.to_book.fare | currency:'PHP' }}</h1>
    </ion-card-header>
    <ion-card-content>
      <ion-accordion-group #accordionGroup expand="inset" class="border-0">
        <ion-accordion >
          <ion-item slot="header" color="primary">
            <ion-label>Details</ion-label>
          </ion-item>
          <div class="ion-padding text-dark" slot="content">
            <h2 class="mb-2" *ngIf="serviceService.to_book.marinduque_departure_datetime">
              <span class="fw-bold">Marinduque Departure Datetime:</span>
              <br> {{ serviceService.to_book.marinduque_departure_datetime | date:'medium' }}
            </h2>
            <h2 class="mb-2" *ngIf="serviceService.to_book.manila_departure_datetime">
              <span class="fw-bold">Manila Departure Datetime:</span>
              <br> {{ serviceService.to_book.manila_departure_datetime | date:'medium' }}
            </h2>
            <h2 class="mb-2" ><span>Driver :</span> <span class="opacity-75"> {{ serviceService.to_book.driver }} </span></h2>
            <h2 class="mb-2" ><span>License Number :</span> <span class="opacity-75"> {{ serviceService.to_book.license_number }} </span></h2>
            <h2 class="mb-2" ><span>Plate Number :</span> <span class="opacity-75"> {{ serviceService.to_book.plate_number }} </span></h2>
            <h2 class="mb-2" ><span>Vehicle Model :</span> <span class="opacity-75"> {{ serviceService.to_book.vehicle_model }} </span></h2>
            <h2 class="mb-2" ><span>Capacity/Slots :</span> <span class="opacity-75"> {{ serviceService.to_book.capacity }} </span></h2>
            <h2 class="mb-2" >
              <span>Service Type :</span> 
              <span class="opacity-75" *ngFor="let service_type of serviceService.to_book.service_type; let i = index">
                {{ i == (serviceService.to_book.service_type.length - 1) ? (service_type | titlecase ) : (service_type + ', ' | titlecase ) }}
              </span>
            </h2>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-label position="floating" >Choose Service Type</ion-label>
    <ion-select [(ngModel)]="book_service_form.service_type" multiple="true">
      <ion-select-option *ngFor="let service_type of serviceService.to_book.service_type"  [value]="service_type">{{ service_type | titlecase }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-note color="danger" *ngIf="book_service_form.errors.service_type">{{ book_service_form.errors.service_type }}</ion-note>

  <ion-item>
    <ion-label position="floating">Choose Route</ion-label>
    <ion-select [interfaceOptions]="routeInterfaceOptions" [(ngModel)]="book_service_form.route" interface="action-sheet">
      <ion-select-option *ngIf="serviceService.to_book.marinduque_departure_datetime" value="Marinduque to Manila" >
        Marinduque to Manila - Departs on {{ serviceService.to_book.marinduque_departure_datetime | date:'mediumDate' }} {{ serviceService.to_book.marinduque_departure_datetime | date:'shortTime' }}
      </ion-select-option>
      <ion-select-option *ngIf="serviceService.to_book.manila_departure_datetime" value="Manila to Marinduque">
        Manila to Marinduque - Departs on {{ serviceService.to_book.manila_departure_datetime | date:'mediumDate' }} {{ serviceService.to_book.manila_departure_datetime | date:'shortTime' }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-note color="danger" *ngIf="book_service_form.errors.route">{{ book_service_form.errors.route }}</ion-note>

  <ion-item *ngIf="serviceService.isServiceTypeHas('passenger',book_service_form.service_type)">
    <ion-label position="floating">How many passenger reservation?</ion-label>
    <ion-input type="number" [(ngModel)]="book_service_form.passenger_count"></ion-input>
  </ion-item>
  <ion-note color="danger" *ngIf="book_service_form.errors.passenger_count">{{ book_service_form.errors.passenger_count }}</ion-note>

  <ion-item button   id="open-set-luggage-specs" lines="full" detail="true" *ngIf="serviceService.isServiceTypeHas('luggage',book_service_form.service_type)">
    <ion-label>Set your luggage specifications</ion-label>
  </ion-item>
  <ion-modal trigger="open-set-luggage-specs" *ngIf="serviceService.isServiceTypeHas('luggage',book_service_form.service_type)">
    <ng-template>
      <ion-toolbar>
        <ion-buttons slot="end" color="primary">
          <ion-button (click)="closeLuggageSpecModal()">Confirm</ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-content>
        <div class="px-3">
          <h2 class="mb-0">Luggage Specifications</h2>
          <p >Set only that applies to you.</p>
        </div>
        <ion-item>
          <ion-label slot="start">
            <h2>Small</h2>
            <h2>{{ serviceService.to_book.luggage_pricing.small | currency:"PHP" }}</h2>
          </ion-label>
          <ion-input slot="end" type="number" placeholder="0" [(ngModel)]="book_service_form.small"></ion-input>
          <ion-label slot="end" color="medium">slot/s</ion-label>
        </ion-item>
        <ion-note color="danger" *ngIf="book_service_form.errors.small">{{ book_service_form.errors.small }}</ion-note>

        <ion-item>
          <ion-label slot="start">
            <h2>Medium</h2>
            <h2>{{ serviceService.to_book.luggage_pricing.medium | currency:"PHP" }}</h2>
          </ion-label>
          <ion-input slot="end" type="number" placeholder="0" [(ngModel)]="book_service_form.medium"></ion-input>
          <ion-label slot="end" color="medium">slot/s</ion-label>
        </ion-item>
        <ion-note color="danger" *ngIf="book_service_form.errors.medium">{{ book_service_form.errors.small }}</ion-note>

        <ion-item>
          <ion-label slot="start">
            <h2>Large</h2>
            <h2>{{ serviceService.to_book.luggage_pricing.large | currency:"PHP" }}</h2>
          </ion-label>
          <ion-input slot="end" type="number" placeholder="0" [(ngModel)]="book_service_form.large"></ion-input>
          <ion-label slot="end" color="medium">slot/s</ion-label>
        </ion-item>
        <ion-note color="danger" *ngIf="book_service_form.errors.large">{{ book_service_form.errors.large }}</ion-note>

        <ion-item>
          <ion-label slot="start">
            <h2>Extra Large</h2>
            <h2>{{ serviceService.to_book.luggage_pricing.extra_large | currency:"PHP" }}</h2>
          </ion-label>
          <ion-input slot="end" type="number" placeholder="0" [(ngModel)]="book_service_form.extra_large"></ion-input>
          <ion-label slot="end" color="medium">slot/s</ion-label>
        </ion-item>
        <ion-note color="danger" *ngIf="book_service_form.errors.extra_large">{{ book_service_form.errors.extra_large }}</ion-note>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-item *ngIf="serviceService.isServiceTypeHas('animal',book_service_form.service_type)">
    <ion-label position="floating">How many animals are included?</ion-label>
    <ion-input type="number" [(ngModel)]="book_service_form.animal_count"></ion-input>
  </ion-item>
  <ion-note color="danger" *ngIf="book_service_form.errors.animal_count">{{ book_service_form.errors.animal_count }}</ion-note>


  <ion-item >
    <ion-label position="stacked">Pick-up Time</ion-label>
    <ion-input type="time" [(ngModel)]="book_service_form.pickup_time"></ion-input>
  </ion-item>
  <ion-note color="danger" *ngIf="book_service_form.errors.pickup_time">{{ book_service_form.errors.pickup_time }}</ion-note>

  <ion-item >
    <ion-label position="floating">Pick-up Location</ion-label>
    <ion-input type="text" [(ngModel)]="book_service_form.pickup_location"></ion-input>
  </ion-item>
  <ion-note color="danger" *ngIf="book_service_form.errors.pickup_location">{{ book_service_form.errors.pickup_location }}</ion-note>

  <ion-item >
    <ion-label position="floating">Drop-off Location</ion-label>
    <ion-input type="text" [(ngModel)]="book_service_form.dropoff_location"></ion-input>
  </ion-item> 
  <ion-note color="danger" *ngIf="book_service_form.errors.dropoff_location">{{ book_service_form.errors.dropoff_location }}</ion-note>


  <p class="p-3">By submitting this reservation means you agree to the <span id="terms_and_conditions_modal" class="text-primary">Terms and Conditions</span> regarding the reservation</p>
  <ion-modal trigger="terms_and_conditions_modal" >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="close()">Cancel</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <iframe src="http://localhost:8000/terms_and_conditions" frameborder="0" style="height: 100%; width: 100%;"></iframe>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>

<ion-footer >
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="primary" fill="solid" (click)="book_service_form.submit()">
        Submit Booking
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
