<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Service</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="background">
  <ion-progress-bar type="indeterminate" color="tertiary" *ngIf="loading"></ion-progress-bar>

  <ion-item detail="false" lines="none">
    <ion-text color="primary" >
      <h2>{{ serviceService.service.service_name }}</h2>
    </ion-text>
  </ion-item>
  
  <ion-list>
    <ion-list-header >
      <ion-label >Basic Information</ion-label>
    </ion-list-header>

    <ion-item detail="false" >
      <ion-label >Driver </ion-label>
      <ion-label color="medium" slot="end">{{serviceService.service.driver}}</ion-label>
    </ion-item>

    <ion-item detail="false" >
      <ion-label >License Number </ion-label>
      <ion-label color="medium" slot="end">{{serviceService.service.license_number}}</ion-label>
    </ion-item>

    <ion-item detail="false" >
      <ion-label >Vehicle Model </ion-label>
      <ion-label color="medium" slot="end">{{serviceService.service.vehicle_model}}</ion-label>
    </ion-item>

    <ion-item detail="false">
      <ion-label >Plate Number </ion-label>
      <ion-label color="medium" slot="end">{{serviceService.service.plate_number}}</ion-label>
    </ion-item>

    <ion-item detail="false" >
      <ion-label >Service Type </ion-label>
      <ion-label color="medium" slot="end">{{serviceService.service.service_type == 'both' ? 'Passenger & Luggage' : (serviceService.service.service_type | titlecase)}}</ion-label>
    </ion-item>

    <ion-item detail="false" >
      <ion-label >Capacity </ion-label>
      <ion-label color="medium" slot="end">{{serviceService.service.capacity}} slot/s</ion-label>
    </ion-item>

    <ion-item detail="false" >
      <ion-label >Mode of Payment </ion-label>
      <ion-label color="medium" slot="end">
        <span *ngFor="let mode of serviceService.service.mode_of_payment">{{ mode }}, </span>
      </ion-label>
    </ion-item>

    <ion-item detail="false" lines="full" *ngIf="serviceService.service.terms_and_conditions">
      <ion-label >Terms and conditions</ion-label>
      <ion-label color="medium" slot="end">{{serviceService.service.service_type == 'both' ? 'Passenger & Luggage' : (serviceService.service.service_type | titlecase)}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Service Status</ion-label>
      <ion-button routerLink="/service/edit-status">Edit Status</ion-button>
    </ion-list-header>

    <ion-item>
      <ion-label>Status </ion-label>
      <ion-label slot="end" color="medium">{{ serviceService.service.service_status | titlecase }}</ion-label>
      <ion-icon name="help-circle-sharp" id="status_info" slot="end" color="tertiary" ></ion-icon>
      <ion-popover trigger="status_info" side="start" alignment="center" reference="trigger">
        <ng-template>
            <ion-text class="ion-padding">
              <h4>Status indicate that your service is accepting reservations or not.</h4>
            </ion-text>
        </ng-template>
      </ion-popover>
    </ion-item>
    
    <ion-item *ngIf="serviceService.service.marinduque_departure_datetime">
      <ion-label>
        <ion-text>
          <h2>Marinduque Departure Datetime</h2>
        </ion-text>
        <ion-text color="medium">
          <h2>{{ serviceService.service.marinduque_departure_datetime | date : 'medium' }}</h2>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="serviceService.service.manila_departure_datetime">
      <ion-label>
        <ion-text>
          <h2>Manila Departure Datetime</h2>
        </ion-text>
        <ion-text color="medium">
          <h2>{{ serviceService.service.manila_departure_datetime | date : 'medium' }}</h2>
        </ion-text>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
