<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Service</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="background">
  <ion-progress-bar type="indeterminate" color="tertiary" *ngIf="loading"></ion-progress-bar>

  <ion-list>
    <ion-list-header mode="ios">
      <ion-label color="primary">{{ serviceService.service.service_name }}</ion-label>
    </ion-list-header>

    <ion-item detail="false" >
      <ion-label >Driver </ion-label>
      <ion-label color="medium" slot="end">{{serviceService.service.driver}}</ion-label>
    </ion-item>

    <ion-item detail="false" >
      <ion-label >License Number </ion-label>
      <ion-label color="medium" slot="end">{{serviceService.service.license_number}}</ion-label>
    </ion-item>

    <ion-item detail="false" >
      <ion-label >Vehicle Model </ion-label>
      <ion-label color="medium" slot="end">{{serviceService.service.vehicle_model}}</ion-label>
    </ion-item>

    <ion-item detail="false">
      <ion-label >Plate Number </ion-label>
      <ion-label color="medium" slot="end">{{serviceService.service.plate_number}}</ion-label>
    </ion-item>

    <ion-item detail="false" >
      <ion-label >Service Type </ion-label>
      <ion-label color="medium" slot="end">{{serviceService.service.service_type == 'both' ? 'Passenger & Luggage' : (serviceService.service.service_type | titlecase)}}</ion-label>
    </ion-item>

    <ion-item detail="false" >
      <ion-label >Capacity </ion-label>
      <ion-label color="medium" slot="end">{{serviceService.service.capacity}} slot/s</ion-label>
    </ion-item>

    <ion-item detail="false" lines="full" *ngIf="serviceService.service.terms_and_conditions">
      <ion-label >Manila Departure Date & Time </ion-label>
      <ion-label color="medium" slot="end">{{serviceService.service.service_type == 'both' ? 'Passenger & Luggage' : (serviceService.service.service_type | titlecase)}}</ion-label>
    </ion-item>

    <!-- <ion-item detail="false" lines="full" *ngIf="serviceService.service.terms_and_conditions">
      <ion-label >Terms & Conditions </ion-label>
      <ion-label color="medium" slot="end">{{serviceService.service.service_type == 'both' ? 'Passenger & Luggage' : (serviceService.service.service_type | titlecase)}}</ion-label>
    </ion-item> -->
    <ion-item detail="false" lines="full" button>
      <ion-label >Marinduque Departure Date & Time</ion-label>
      <ion-label color="medium" slot="end">{{serviceService.service.service_type == 'both' ? 'Passenger & Luggage' : (serviceService.service.service_type | titlecase)}}</ion-label>
    </ion-item>

  </ion-list>
</ion-content>
