
<ion-content color="primary">
  <div class="container">
    <app-logo></app-logo>
    <form action="">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Sign Up</ion-card-title>
          <ion-card-subtitle>Create your account now</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input type="text" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Contact Number</ion-label>
            <ion-input type="tel" max="10" required>+63 </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password Confirmation</ion-label>
            <ion-input type="password" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Role</ion-label>
          <ion-select value="3" placeholder="Select Role" slot="end">
              <ion-select-option value="2">Administrator</ion-select-option>
              <ion-select-option value="3">Customer</ion-select-option>
            </ion-select>
          </ion-item>
          <div>
            <ion-button expand="block" type="submit">
              <i class="fa-solid fa-user-plus space-after"></i>
              Sign Up
            </ion-button>
            <ion-button expand="block" fill="outline" type="button" routerLink="/signin">
              <i class="fa-solid fa-arrow-right-to-bracket space-after"></i>
              Sign In
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </form>
  </div>
</ion-content>
