
<ion-content color="background">
  <div class="p-3" *ngIf="phase == 1">
    <h4 class="text-center fw-bold text-primary mb-3">Password Recovery</h4>
    <label class="fw-bold">Email</label>
    <div class="card" >
      <div class="card-content">
        <ion-input type="text" placeholder="eg. juandelcruz@email.com" [(ngModel)]="email"></ion-input>
      </div>
    </div>
    <ion-button  expand="block" fill="solid" class="mt-3" (click)="sendRecoveryCode()">
      Send Code
    </ion-button>
  </div>

  <div class="p-3" *ngIf="phase == 2">
    <h4 class="text-center fw-bold text-primary mb-3">Verification</h4>

    <label >Verification Code</label>
    <input class="form-control mb-2" [(ngModel)]="verification_code" />

    <ion-button expand="block" (click)="checkRecoveryCode()">
      <ion-icon name="save" slot="start"></ion-icon>
      Verify
    </ion-button>
  </div>

  <div class="p-3" *ngIf="phase == 3">
    <h4 class="mb-3">Change Password</h4>

    <div class="mb-3">
      <h6 class="my-0">{{ user.name }}</h6>
      <h6 class="my-0">{{ user.email }}</h6>
    </div>

    <label >Password</label>
    <input class="form-control mb-0" [type]="passwordVisibility ? 'text' : 'password'" [(ngModel)]="change_password_form.password" />
    <label for="" class="text-danger d-block mb-2" *ngIf="change_password_form_errors['password']">{{ change_password_form_errors['password'] }}</label>

    <label >Password Confirmation</label>
    <input class="form-control mb-2" [type]="passwordVisibility ? 'text' : 'password'" [(ngModel)]="change_password_form.password_confirmation" />

    <button  (click)="togglePasswords()"  class="button-password-toggle">
      <i class="fa-solid fa-eye me-2"></i>Toggle passwords
    </button>

    <ion-button expand="block" (click)="changePassword()">
      <ion-icon name="save" slot="start"></ion-icon>
      Save
    </ion-button>
  </div>

  <div class="mt-5">
    <ion-button expand="block" fill="clear" routerLink="/signin">
      <ion-icon name="log-in-outline" slot="start"></ion-icon>
      Go to Sign In page
    </ion-button>
  </div>
</ion-content>
