
<ion-content color="primary">
  <div class="container">
    <app-logo></app-logo>
    <div class="sign_in_form" (ngSubmit)="sign_in_form.submit()">
        <ion-card>
          <ion-card-header >
            <ion-card-title>Sign In</ion-card-title>
            <ion-card-subtitle>Access your account.</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email" required [(ngModel)]="sign_in_form.email.data" ></ion-input>
            </ion-item>
            <ion-note color="danger" *ngIf="sign_in_form_err.email">{{ sign_in_form_err.email }}</ion-note>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" required  [(ngModel)]="sign_in_form.password.data"></ion-input>
            </ion-item>
            <ion-note color="danger"  *ngIf="sign_in_form_err.password">{{ sign_in_form_err.password }}</ion-note>
            <div>
              <ion-button expand="block" (click)="sign_in_form.submit()">
                <i class="fa-solid fa-arrow-right-to-bracket space-after"></i>
                Sign In
              </ion-button>
              <ion-button expand="block" fill="outline" type="button" routerLink="/signup">
                <i class="fa-solid fa-user-plus space-after"></i>
                Sign Up
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
  </div>
</ion-content>
