
<ion-content color="primary">
  <div class="container">
    <app-logo></app-logo>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Setup your Service Profile</ion-card-title>
        <ion-card-subtitle>Complete setting up your account</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Service Name <ion-note color="danger">*</ion-note></ion-label>
          <ion-input type="text" [(ngModel)]="add_service_form.service_name"></ion-input>
        </ion-item>
        <ion-note *ngIf="add_service_form.errors.service_name" color="danger">{{ add_service_form.errors.service_name }}</ion-note>

        <ion-item>
          <ion-label position="floating">Driver Name <ion-note color="danger">*</ion-note></ion-label>
          <ion-input type="text" [(ngModel)]="add_service_form.driver"></ion-input>
        </ion-item>
        <ion-note *ngIf="add_service_form.errors.driver" color="danger">{{ add_service_form.errors.driver }}</ion-note>

        <ion-item>
          <ion-label position="floating">License Number <ion-note color="danger">*</ion-note></ion-label>
          <ion-input type="text" [(ngModel)]="add_service_form.license_number"></ion-input>
        </ion-item>
        <ion-note *ngIf="add_service_form.errors.license_number" color="danger">{{ add_service_form.errors.license_number }}</ion-note>

        <ion-item>
          <ion-label position="floating">Plate Number <ion-note color="danger">*</ion-note></ion-label>
          <ion-input type="text"  [(ngModel)]="add_service_form.plate_number"></ion-input>
        </ion-item>
        <ion-note *ngIf="add_service_form.errors.plate_number" color="danger">{{ add_service_form.errors.plate_number }}</ion-note>

        <ion-item>
          <ion-label position="floating">Vehicle Brand/Model <ion-note color="danger">*</ion-note></ion-label>
          <ion-input type="text" [(ngModel)]="add_service_form.vehicle_model"></ion-input>
        </ion-item>
        <ion-note *ngIf="add_service_form.errors.vehicle_model" color="danger">{{ add_service_form.errors.vehicle_model }}</ion-note>

        <ion-item>
          <ion-label position="floating">Capacity/Slots <ion-note color="danger">*</ion-note></ion-label>
          <ion-input type="text" [(ngModel)]="add_service_form.capacity"></ion-input>
        </ion-item>
        <ion-note *ngIf="add_service_form.errors.capacity" color="danger">{{ add_service_form.errors.capacity }}</ion-note>

        <ion-item>
          <ion-label position="floating">Mode of Payment <ion-note color="danger">*</ion-note></ion-label>
          <ion-select  multiple="true"  [(ngModel)]="add_service_form.mode_of_payment">
            <ion-select-option value="Cash">Cash</ion-select-option>
            <ion-select-option value="GCash">GCash</ion-select-option>
            <ion-select-option value="Paymaya">Paymaya</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-note *ngIf="add_service_form.errors.mode_of_payment" color="danger">{{ add_service_form.errors.service_name }}</ion-note>

        <ion-item>
          <ion-label position="floating">Service Type <ion-note color="danger">*</ion-note></ion-label>
          <ion-select  [(ngModel)]="add_service_form.service_type">
            <ion-select-option value="passenger">Passenger</ion-select-option>
            <ion-select-option value="luggage">Luggage</ion-select-option>
            <ion-select-option value="both">Both</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-note *ngIf="add_service_form.errors.service_type" color="danger">{{ add_service_form.errors.service_name }}</ion-note>

        <ion-button  expand="block" (click)="add_service_form.submit()">
          <ion-icon name="save-sharp" slot="start"></ion-icon>
          Save
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
