
<ion-content color="primary">
  <div class="setup-service-container">
    <app-logo class="mb-2"></app-logo>
    <ion-list>
      <div class="px-3">
        <h3 class="mb-0 text-dark fw-bold">Setup your Service Profile</h3>
        <p class="text-dark">Complete setting up your account</p>
      </div>

      <ion-item>
        <ion-label position="floating">Service Name <ion-note color="danger">*</ion-note></ion-label>
        <ion-input type="text" [(ngModel)]="add_service_form.service_name"></ion-input>
      </ion-item>
      <ion-note *ngIf="add_service_form.errors.service_name" color="danger">{{ add_service_form.errors.service_name }}</ion-note>

      <ion-item>
        <ion-label position="floating">Driver Name <ion-note color="danger">*</ion-note></ion-label>
        <ion-input type="text" [(ngModel)]="add_service_form.driver"></ion-input>
      </ion-item>
      <ion-note *ngIf="add_service_form.errors.driver" color="danger">{{ add_service_form.errors.driver }}</ion-note>

      <ion-item>
        <ion-label position="floating">License Number <ion-note color="danger">*</ion-note></ion-label>
        <ion-input type="text" [(ngModel)]="add_service_form.license_number"></ion-input>
      </ion-item>
      <ion-note *ngIf="add_service_form.errors.license_number" color="danger">{{ add_service_form.errors.license_number }}</ion-note>

      <ion-item>
        <ion-label position="floating">Plate Number <ion-note color="danger">*</ion-note></ion-label>
        <ion-input type="text"  [(ngModel)]="add_service_form.plate_number"></ion-input>
      </ion-item>
      <ion-note *ngIf="add_service_form.errors.plate_number" color="danger">{{ add_service_form.errors.plate_number }}</ion-note>

      <ion-item>
        <ion-label position="floating">Vehicle Brand/Model <ion-note color="danger">*</ion-note></ion-label>
        <ion-input type="text" [(ngModel)]="add_service_form.vehicle_model"></ion-input>
      </ion-item>
      <ion-note *ngIf="add_service_form.errors.vehicle_model" color="danger">{{ add_service_form.errors.vehicle_model }}</ion-note>

      <ion-item>
        <ion-label position="floating">Capacity/Slots <ion-note color="danger">*</ion-note></ion-label>
        <ion-input type="text" [(ngModel)]="add_service_form.capacity"></ion-input>
      </ion-item>
      <ion-note *ngIf="add_service_form.errors.capacity" color="danger">{{ add_service_form.errors.capacity }}</ion-note>

      <!-- <ion-item>
        <ion-label position="floating">Mode of Payment <ion-note color="danger">*</ion-note></ion-label>
        <ion-select  multiple="true"  [(ngModel)]="add_service_form.mode_of_payment">
          <ion-select-option value="Cash">Cash</ion-select-option>
          <ion-select-option value="GCash">GCash</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-note *ngIf="add_service_form.errors.mode_of_payment" color="danger">{{ add_service_form.errors.service_name }}</ion-note> -->
      <ion-item>
        <ion-label position="stacked">Gcash Account <ion-note color="danger">*</ion-note></ion-label>
        <ion-input type="text" max="10" [(ngModel)]="add_service_form.gcash_account">+63</ion-input>
      </ion-item>
      <ion-note *ngIf="add_service_form.errors.gcash_account" color="danger">{{ add_service_form.errors.gcash_account }}</ion-note>

      <ion-item>
        <ion-label position="floating">Service Type <ion-note color="danger">*</ion-note></ion-label>
        <ion-select  [(ngModel)]="add_service_form.service_type" multiple="true">
          <ion-select-option value="passenger">Passenger</ion-select-option>
          <ion-select-option value="luggage">Luggage</ion-select-option>
          <ion-select-option value="animal">Animal</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-note *ngIf="add_service_form.errors.service_type" color="danger">{{ add_service_form.errors.service_type }}</ion-note>
    </ion-list>

    <ion-list *ngIf="add_service_form.service_type && add_service_form.isLuggageIncluded()">
      <ion-list-header>
        <ion-label>Luggage Pricings</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label >Small <ion-note color="danger">*</ion-note></ion-label>
        <ion-input slot="end" type="number" [(ngModel)]="add_service_form.small" placeholder="0.00">Php </ion-input>
      </ion-item>
      <ion-note *ngIf="add_service_form.errors.small" color="danger">{{ add_service_form.errors.small }}</ion-note>

      <ion-item>
        <ion-label >Medium <ion-note color="danger">*</ion-note></ion-label>
        <ion-input slot="end" type="number" [(ngModel)]="add_service_form.medium" placeholder="0.00">Php </ion-input>
      </ion-item>
      <ion-note *ngIf="add_service_form.errors.medium" color="danger">{{ add_service_form.errors.medium }}</ion-note>

      <ion-item>
        <ion-label >Large <ion-note color="danger">*</ion-note></ion-label>
        <ion-input slot="end" type="number" [(ngModel)]="add_service_form.large" placeholder="0.00">Php </ion-input>
      </ion-item>
      <ion-note *ngIf="add_service_form.errors.large" color="danger">{{ add_service_form.errors.large }}</ion-note>

      <ion-item>
        <ion-label >Extra Large <ion-note color="danger">*</ion-note></ion-label>
        <ion-input slot="end" type="number" [(ngModel)]="add_service_form.extra_large" placeholder="0.00">Php </ion-input>
      </ion-item>
      <ion-note *ngIf="add_service_form.errors.extra_large" color="danger">{{ add_service_form.errors.extra_large }}</ion-note>
    </ion-list>

    <ion-list class="p-3">
      <ion-button  expand="block" (click)="add_service_form.submit()">
        <ion-icon name="save-sharp" slot="start"></ion-icon>
        Save
      </ion-button>
    </ion-list>
  </div>
</ion-content>
