<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="background" >
  <div class="p-2">
    <h6 class="text-secondary">Reports</h6>
    <div class="card my-3 bg-primary border-white">
      <div class="card-body  rounded-top text-white ">
        <h4 class="my-0 fw-bold "><i class="fa-solid fa-book me-2"></i>Reservations</h4>
      </div>
      <div class="rounded border-white bg-white shadow p-3">
        <div class="my-2">
          <label class="h3 mb-0 fw-bold">200 </label><label class="ms-2 text-secondary">Reservation/s</label>
        </div>
        <div class=" text-secondary">
          <small>This month</small>
        </div>
        <div class="">
          <label class="fw-bold">20 <span class="fw-normal text-secondary">Completed</span></label>
        </div>
        <div class="">
          <label class="fw-bold">20 <span class="fw-normal text-secondary">Cancelled/Declined</span></label>
        </div>
      </div>
    </div>
    <div class="card my-3 bg-info border-white">
      <div class="card-body  rounded-top text-white ">
        <h4 class="my-0 fw-bold "><i class="fa-solid fa-coins me-2"></i>Income</h4>
      </div>
      <div class="rounded border-white bg-white shadow p-3">
        <div class="my-2">
          <label class="h3 mb-0 fw-bold">200 </label><label class="ms-2 text-secondary">Reservation/s</label>
        </div>
        <div class="row text-secondary">
          <ion-select  placeholder="Select Year" class="col">
            <ion-select-option value="2022">2022</ion-select-option>
            <ion-select-option value="2023">2023</ion-select-option>
          </ion-select>
          <ion-select  placeholder="Select Month" class="col">
            <ion-select-option value="2022">2022</ion-select-option>
            <ion-select-option value="2023">2023</ion-select-option>
          </ion-select>
        </div>
        <div class="">
          <label class="fw-bold">20 <span class="fw-normal text-secondary">Completed</span></label>
        </div>
        <div class="">
          <label class="fw-bold">20 <span class="fw-normal text-secondary">Cancelled/Declined</span></label>
        </div>
      </div>
    </div>
    <div class="card my-3 bg-warning border-white">
      <div class="card-body  rounded-top text-white ">
        <h4 class="my-0 fw-bold "><i class="fa-solid fa-star me-2"></i>Ratings</h4>
      </div>
      <div class="rounded border-white bg-white shadow p-3">
        <div class="my-2">
          <label class="h3 mb-0 fw-bold">200 </label><label class="ms-2 text-secondary">Reservation/s</label>
        </div>
        <div class="row text-secondary">
          <ion-select  placeholder="Select Year" class="col">
            <ion-select-option value="2022">2022</ion-select-option>
            <ion-select-option value="2023">2023</ion-select-option>
          </ion-select>
          <ion-select  placeholder="Select Month" class="col">
            <ion-select-option value="2022">2022</ion-select-option>
            <ion-select-option value="2023">2023</ion-select-option>
          </ion-select>
        </div>
        <div class="">
          <label class="fw-bold">20 <span class="fw-normal text-secondary">Completed</span></label>
        </div>
        <div class="">
          <label class="fw-bold">20 <span class="fw-normal text-secondary">Cancelled/Declined</span></label>
        </div>
      </div>
    </div>
  </div>
</ion-content>
