<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="background" >
  <ion-progress-bar type="indeterminate" color="secondary" *ngIf="loading"></ion-progress-bar>
  <div class="p-2">
    <h6 class="text-secondary">Reports</h6>
    <!-- reservation stats -->
    <div class="card my-3 bg-primary border-white">
      <div class="card-body  rounded-top text-white ">
        <h4 class="my-0 fw-bold "><i class="fa-solid fa-book me-2"></i>Reservations</h4>
      </div>
      <div class="rounded border-white bg-white shadow p-3">
        <div class="my-2">
          <label class="h3 mb-0 fw-bold" *ngIf="reservationCounts.all">{{ reservationCounts.all }} </label><label class="ms-2 text-secondary">Reservation/s</label>
        </div>
        <div class=" text-secondary">
          <small>This month</small>
        </div>
        <div class="">
          <label class="fw-bold" >{{ reservationCounts.latestMonth }} <span class="fw-normal text-secondary">Reservation/s this month</span></label>
        </div>
        <div class="">
          <label class="fw-bold" >{{ reservationCounts.completed }} <span class="fw-normal text-secondary">Completed</span></label>
        </div>
        <div class="">
          <label class="fw-bold" >{{ reservationCounts.canceledOrDeclined }} <span class="fw-normal text-secondary">Cancelled/Declined</span></label>
        </div>
      </div>
    </div>
    <!-- income reports -->
    <div class="card my-3 bg-info border-white">
      <div class="card-body  rounded-top text-white ">
        <h4 class="my-0 fw-bold "><i class="fa-solid fa-coins me-2"></i>Income</h4>
      </div>
      <div class="rounded border-white bg-white shadow p-3">
        <small class="text-secondary">Income for the month of</small>
        <div class="row text-secondary">
          <ion-select [(ngModel)]="month"  placeholder="Select Month" class="col">
            <ion-select-option *ngFor="let m of months" [value]="m.value">{{ m.name }}</ion-select-option>
          </ion-select>
          <ion-select [(ngModel)]="year"  placeholder="Select Year" class="col">
            <ng-container *ngFor="let y of years">
              <ion-select-option  [value]="y">{{ y }}</ion-select-option>
            </ng-container>
          </ion-select>
        </div>
        <div class="my-2">
          <label class="h3 mb-0 fw-bold">{{ incomes.totalIncome | currency:'PHP' }} </label><label class="ms-2 text-secondary">from all recorded bookings</label>
        </div>
      </div>
    </div>
    <!-- ratings -->
    <div class="card my-3 bg-warning border-white">
      <div class="card-body  rounded-top text-white ">
        <h4 class="my-0 fw-bold "><i class="fa-solid fa-star me-2"></i>Ratings</h4>
      </div>
      <div class="rounded border-white bg-white shadow p-3" >
        <small class="d-block text-secondary">Total Ratings</small>
        <div class="my-2">
          <label class="h3 mb-0 fw-bold"><i class="fa-solid fa-chart-line"></i> {{ reviews.totalRatings }} / 5 </label><label class="ms-2 text-secondary">average ratings</label>
        </div>
        <small class="d-block text-secondary">{{ reviews.totalReviews }} Review/s</small>
        <div class="" *ngIf="reviews.totalReviews > 0" style="overflow:scroll;max-height: 20rem;">
          <ng-container *ngFor="let review of reviews.reviews">
            <div class="my-2">
              <label ><i class="fa-solid fa-star text-warning me-2"></i><span class="fw-normal text-secondary">{{ review.rate }}</span></label>
              <p class="my-0 small">{{review.content  }}</p>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ion-content>
