<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>-Name Here-</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="background">
  <div class="chat">
    <div class="chat-container" >
      <ng-container *ngFor="let message of messages">
        <div [class]="message.user_id == authService.getAuth().user_id ? 'chat-message chat-me' : 'chat-message chat-other'">
          <p>{{ message.message }}</p>
          <small>October 18, 2022 10:03 PM</small>
        </div>
      </ng-container>
      <div id="latest" class="p-2"></div>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="btnGoToLatest_visible">
    <ion-fab-button color="tertiary" (click)="goToLatest()">
      <ion-icon name="arrow-down-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer >
  <div class=" row align-items-center p-3 pt-0">
    <ion-item class="col">
      <ion-label position="floating" color="tertiary">Write message | <span class="text-secondary">{{ messageCounter.remaining }} left</span></ion-label>
      <ion-textarea maxlength="5000" [(ngModel)]="message" class="text-black" rows="1" color="tertiary" (keyup)="messageCounter.onInput()"></ion-textarea>
    </ion-item>
    <ion-button class="col-auto m-0 p-0" fill="clear"  color="tertiary" (click)="sendMessage()" [disabled]="isSending ? 'disabled' : false">
      <ion-icon name="send" slot="icon-only" *ngIf="!isSending"></ion-icon>
      <ion-spinner name="lines-small" color="tertiary" *ngIf="isSending"></ion-spinner>
    </ion-button>
  </div>
</ion-footer>
