<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Announcements</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  <ng-container *ngFor="let announcement of announcementService.announcements">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ announcement.announcement_title }}</ion-card-title>
        <ion-card-subtitle>From <span class="text-primary">{{ announcement.user.email }}</span> - {{ announcement.user.role.role_description }} </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p class="text-black">{{ announcement.announcement_content }}</p>
       <div class="mt-2">
          <p >Posted on {{ announcement.created_at | date:'mediumDate' }}</p>
        </div>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
