<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Service Bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="background">
  <ion-progress-bar type="indeterminate" color="primary" *ngIf="isLoading"></ion-progress-bar>
  <ion-card >
    <ion-item lines="none">
      <ion-label>Filter</ion-label>
      <ion-select value="all" interface="action-sheet" cancelText="Cancel Selection" [(ngModel)]="filteredBooking">
        <ion-select-option value="all">All</ion-select-option>
        <ion-select-option value="pending">Pending</ion-select-option>
        <ion-select-option value="accepted">Accepted</ion-select-option>
        <ion-select-option value="canceled">Canceled</ion-select-option>
        <ion-select-option value="declined">Declined</ion-select-option>
        <ion-select-option value="finished">Finished</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>
  <div class="my-3 px-3" *ngIf="!transportBookingService.transport_bookings[0]">
    <p class="text-center">No Bookings</p>
  </div>
  <ng-container *ngFor="let booking of transportBookingService.transport_bookings">
    <div id="booking-{{ booking.transport_booking_id }}" class="my-3 bg-white pb-3" *ngIf="filteredBooking == 'all' || filteredBooking == booking.booking_status">
      <div class="px-3 border-bottom">
        <label class="text-secondary">{{ booking.created_at | date:'mediumDate' }}</label>
      </div>
      <ion-item lines="none">
        <ion-label color="primary">
          <h2>{{ booking.user_customer.name }} </h2>
          <h2 class="text-secondary"><i class="fa fa-envelope me-1"></i>{{ booking.user_customer.email }}</h2>
          <h2 class="text-secondary"><i class="fa-solid fa-phone"></i>+63 {{ booking.user_customer.contact_number }}</h2>
        </ion-label>
        <ion-badge slot="end" [color]="setBookingStatusColor(booking.booking_status)" >{{ booking.booking_status | titlecase }}</ion-badge>
      </ion-item>
      <ion-item lines="none" *ngIf="booking.pickup_time">
        <ion-label>
          <h2>Pickup Time</h2>
          <label for="">{{ '01-01-01 ' + booking.pickup_time | date:'hh:mm a' }} </label>
        </ion-label>
      </ion-item>
      <ion-item lines="none" *ngIf="booking.pickup_location">
        <ion-label>
          <h2>Pickup Location</h2>
          <label for="">{{ booking.pickup_location }} </label>
        </ion-label>
      </ion-item>
      <ion-item lines="none" *ngIf="booking.dropoff_location">
        <ion-label>
          <h2>Drop-off Location</h2>
          <label for="">{{ booking.dropoff_location }} </label>
        </ion-label>
      </ion-item>
      <div class="px-3">
        <ion-item color="light" lines="none" detail="true" button id="booking-detail-modal-{{ booking.transport_booking_id }}">
          <ion-label>Number of reservations</ion-label>
        </ion-item>
        <ion-modal trigger="booking-detail-modal-{{ booking.transport_booking_id }}" [initialBreakpoint]="0.75" [breakpoints]="[0, 0.25, 0.5, 1]">
          <ng-template >
            <ion-header>
              <ion-toolbar>
                <ion-title>
                  <ion-label>
                    <h2 class="ion-color-primary">{{ booking.user_customer.name }}</h2>
                    <h2>Reservation details</h2>
                  </ion-label>
                </ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-content color="background">
              <br>
              <ion-item lines="full" *ngIf="booking.passenger_count">
                <ion-label >
                  <h2>Passenger slots reserved</h2>
                  <h2>{{ booking.passenger_count }}</h2>
                </ion-label>
              </ion-item>
              <ion-list *ngIf="booking.luggage_config">
                <ion-list-header>
                  <ion-label>Luggage Reservations</ion-label>
                </ion-list-header>
                <ion-item lines="full" *ngIf="booking.luggage_config.small">
                  <ion-label >Small {{ booking.service.luggage_pricing.small | currency:'PHP' }}</ion-label>
                  <ion-label slot="end">{{ booking.luggage_config.small }}</ion-label>
                </ion-item>
                <ion-item lines="full" *ngIf="booking.luggage_config.medium">
                  <ion-label >Medium {{ booking.service.luggage_pricing.medium | currency:'PHP' }}</ion-label>
                  <ion-label slot="end">{{ booking.luggage_config.medium }}</ion-label>
                </ion-item>
                <ion-item lines="full" *ngIf="booking.luggage_config.large">
                  <ion-label >Large {{ booking.service.luggage_pricing.large | currency:'PHP' }}</ion-label>
                  <ion-label slot="end">{{ booking.luggage_config.large }}</ion-label>
                </ion-item>
                <ion-item lines="full" *ngIf="booking.luggage_config.extra_large">
                  <ion-label >Extra Large {{ booking.service.luggage_pricing.extra_large | currency:'PHP' }}</ion-label>
                  <ion-label slot="end">{{ booking.luggage_config.extra_large }}</ion-label>
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-modal>
      </div>
      <div class="px-3"> 
        <ion-item color="light" lines="none" detail="true" button id="booking-updates-modal-{{ booking.transport_booking_id }}">
          <ion-label>Booking Updates</ion-label>
        </ion-item>
        <ion-modal trigger="booking-updates-modal-{{ booking.transport_booking_id }}" [initialBreakpoint]="0.75" [breakpoints]="[0, 0.25, 0.5, 1]">
          <ng-template >
            <ion-header>
              <ion-toolbar>
                <ion-title>
                  <ion-label>
                    <h2 class="ion-color-primary">{{ booking.user_customer.name }}</h2>
                    <h2>Reservation updates</h2>
                  </ion-label>
                </ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-content color="background">
              <br>
              <div class="px-3 my-3" *ngIf="!booking.booking_updates[0]">
                <p class="text-center">No Updates</p>
              </div>
              <div class="row px-3 py-2 my-2 bg-white" *ngFor="let update of booking.booking_updates">
                <div class="col-auto">
                  <p class="mb-0 ion-text-primary">{{ update.created_at | date:'mediumDate' }}</p>
                  <p class="mb-0 ion-text-primary">{{ update.created_at | date:'h:mm a' }}</p>
                  <i class="fa-solid fa-share ion-text-medium"></i>
                </div>
                <div class="col">
                  <ion-badge [color]="setBookingStatusColor(update.booking_status)">{{ update.booking_status | titlecase }}</ion-badge>
                  <p>{{ update.message }}</p>
                  <div *ngIf="update.msg_frm_admin">
                    <p class="mb-0 ion-text-medium fs-6">Message from Service owner</p>
                    <p >{{ update.msg_frm_admin }}</p>
                  </div>
                  <div *ngIf="update.msg_frm_customer">
                    <p class="mb-0 ion-text-medium fs-6">Message from Service owner</p>
                    <p >{{ update.msg_frm_admin }}</p>
                  </div>
                </div>
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>
      </div>

      <!-- actions -->
      <div class="px-3 mt-2" >
        <ion-button color="tertiary" routerLink="/messages">
          <ion-icon slot="icon-only" name="chatbubbles-outline"></ion-icon>
        </ion-button>

        <ion-button color="danger" id="decline-booking-modal-{{ booking.transport_booking_id }}" fill="outline" *ngIf="booking.booking_status == 'pending'">
          Decline
        </ion-button>
        <ion-modal trigger="decline-booking-modal-{{ booking.transport_booking_id }}" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.5, 1]">
          <ng-template >
            <ion-header class="ion-no-border">
              <ion-toolbar>
                <ion-title>Decline Booking</ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-content>
              <div class="px-3">
                <div class="bg-info p-2">
                  <p class="mb-0"><i class="fa-solid fa-lightbulb text-warning"></i> <span class="fw-bold">Tips:</span>  You can call the customer who set the booking to make sure that he/she is formally informed.</p>
                </div>
                <ion-item class="mb-2">
                  <ion-label position="floating">Any message to {{ booking.user_customer.name }}?</ion-label>
                  <ion-input type="text" [(ngModel)]="msg_from_admin"></ion-input>
                </ion-item>
                <ion-button (click)="declineBooking(booking.transport_booking_id)" expand="block">
                  Decline Booking
                </ion-button>
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>

        <ion-button color="success" id="accept-booking-modal-{{ booking.transport_booking_id }}" *ngIf="booking.booking_status == 'pending'">
          Accept
        </ion-button>
        <ion-modal trigger="accept-booking-modal-{{ booking.transport_booking_id }}" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.5, 1]">
          <ng-template >
            <ion-header class="ion-no-border">
              <ion-toolbar>
                <ion-title>Accept Booking</ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-content>
              <div class="px-3">
                <div class="bg-info p-2">
                  <p class="mb-0"><i class="fa-solid fa-lightbulb text-warning"></i> <span class="fw-bold">Tips:</span>  You can call the customer who set the booking to make sure that it is legitimate.</p>
                </div>
                <ion-item class="mb-2">
                  <ion-label position="floating">Any message to {{ booking.user_customer.name }}?</ion-label>
                  <ion-input type="text" [(ngModel)]="msg_from_admin"></ion-input>
                </ion-item>
                <ion-button (click)="acceptBooking(booking.transport_booking_id)" expand="block">
                  Accept Booking
                </ion-button>
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>

        <ion-button fill="outline" color="medium" id="cancel-booking-modal-{{ booking.transport_booking_id }}" *ngIf="booking.booking_status == 'accepted'">
          Cancel
        </ion-button>
        <ion-modal trigger="cancel-booking-modal-{{ booking.transport_booking_id }}" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.5, 1]">
          <ng-template >
            <ion-header class="ion-no-border">
              <ion-toolbar>
                <ion-title>Cancel Booking</ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-content>
              <div class="px-3">
                <div class="bg-info p-2">
                  <p class="mb-0"><i class="fa-solid fa-lightbulb text-warning"></i> <span class="fw-bold">Tips:</span>  You can call the customer who set the booking to make sure that he/she is formally informed.</p>
                </div>
                <ion-item class="mb-2">
                  <ion-label position="floating">Any message/reasons for cancelling this booking?</ion-label>
                  <ion-input type="text" [(ngModel)]="msg_from_admin"></ion-input>
                </ion-item>
                <ion-button (click)="cancelBooking(booking.transport_booking_id)" expand="block">
                  Decline Booking
                </ion-button>
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>

        <ion-button color="success" *ngIf="booking.booking_status == 'accepted'" (click)="finishBooking(booking.transport_booking_id)">
          Completed
        </ion-button>

      </div>
    </div>
  </ng-container>
</ion-content>
