<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Door to Door Listings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="background">
  <ion-progress-bar type="indeterminate"  color="primary" *ngIf="loading"></ion-progress-bar>
  <ng-container *ngFor="let service of serviceService.listings">
    <ion-card>
      <ion-card-header>
        <ion-card-title><strong>{{ service.service_name }}</strong></ion-card-title>
        <ion-card-title color="tertiary"><strong>{{ service.fare | currency : 'PHP' }}</strong></ion-card-title>
        <div button>
          <h6 class="mb-0 mt-0"  *ngIf="service.reviews.length > 0">
            {{ service.review_summary.average_ratings | number:'1.1-1' }}
            <span class="text-warning">
              <i class="fa{{ service.review_summary.average_ratings < 1 ? '-regular' : '' }} 
                        fa-star{{ service.review_summary.average_ratings >= 1.5 && service.review_summary.average_ratings < 2 ? '-half-stroke' : '' }}"></i>
              <i class="fa{{ service.review_summary.average_ratings < 2 ? '-regular' : '' }} 
                        fa-star{{ service.review_summary.average_ratings >= 2.5 && service.review_summary.average_ratings < 3 ? '-half-stroke' : '' }}"></i>
              <i class="fa{{ service.review_summary.average_ratings < 3 ? '-regular' : '' }} 
                        fa-star{{ service.review_summary.average_ratings >= 3.5 && service.review_summary.average_ratings < 4 ? '-half-stroke' : '' }}"></i>
              <i class="fa{{ service.review_summary.average_ratings < 4 ? '-regular' : '' }} 
                        fa-star{{ service.review_summary.average_ratings >= 4.5 && service.review_summary.average_ratings < 5 ? '-half-stroke' : '' }}"></i>
              <i class="fa{{ service.review_summary.average_ratings < 5 ? '-regular' : '' }} fa-star"></i>
            </span>
          </h6 >
          <h6 class="mb-0 mt-0">{{ service.review_summary.total_ratings }} Rating/s <ion-badge color="secondary" mode="md" button *ngIf="service.reviews.length > 0">See all reviews</ion-badge></h6>
        </div>
      </ion-card-header>
      <ion-card-content>
        <div class="mb-2">
          <h2 class="fw-bold">{{ service.passenger_booking_count }} of {{ service.capacity }} booking's</h2>
          <h2 class="fw-bold text-dark">Departure Date/s</h2>
          <h2 *ngIf="service.marinduque_departure_datetime"><span class="text-dark">Marinduque : </span> {{ service.marinduque_departure_datetime | date:'MMM d, y h:mm a' }}</h2>
          <h2 *ngIf="service.manila_departure_datetime"><span class="text-dark">Manila : </span> {{ service.manila_departure_datetime | date:'MMM d, y h:mm a' }}</h2>
        </div>
        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label>Other details</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <h2><span class="text-dark">Driver :</span> {{ service.driver }}</h2>
              <h2><span class="text-dark ">License Number :</span> {{ service.license_number }}</h2>
              <h2><span class="text-dark ">Plate Number :</span> {{ service.plate_number }}</h2>
              <h2><span class="text-dark ">Vehicle Model :</span> {{ service.vehicle_model }}</h2>
              <h2><span class="text-dark ">Capacity/Slots :</span> {{ service.capacity }}</h2>
              <h2>
                <span class="text-dark ">Service Type :</span>
                <span *ngFor="let service_type of service.service_type; let i = index">
                  {{ i == (service.service_type.length - 1) ? (service_type | titlecase ) : (service_type + ', ' | titlecase ) }}
                </span>
              </h2>
            </div>
          </ion-accordion>
        </ion-accordion-group>
        <ion-button color="primary" (click)="showBookingForm(service)" fill="outline">
          Book Now
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <div class="p-3" *ngIf="serviceService.listings.length < 1">
    <p class="text-secondary text-center">No Listings at this moment.</p>
  </div>
</ion-content>
